:root {
	--container-width: 970px;
	--container-padding: 15px;

	--font-main: 'Open Sans', sans-serif;
	--font-accent: 'Bebas Neue', sans-serif;;
	

	
	--page-bg: #fff;
	--text-color: #48555B;
	--accent: #00A4E5;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}



