.capabilities{
    padding-bottom: 115px;

    
    @media(max-width: 850px){
        padding-bottom: 0;
    }
}
.capabilities__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 78px;
    @media(max-width: 850px){
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
        align-items: center;
        padding-bottom: 30px;
    }
    
}
.capabilities__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.306px;
    position: relative;



    &::after{
        content: '';
        position: absolute;
        left: 27px;
        bottom: 10px;
        transform: translate(-50%, 0);
        height: 2px;
        width: 50px;
        background-color: #00A4E5;

        @media(max-width: 850px){
            bottom: -5px;
        }
    }
}
.capabilities__desc {
    display: flex;
    gap: 40px;
    @media(max-width: 850px){
        margin-top: 20px;
        display: block;
        margin-top: 0;
    }

}
.capabilities__text {
    max-width: 405px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.2px;
    bottom: 10px;
    @media(max-width: 850px){
        margin-bottom: 10px;
    }
}
