.capabilities__cards{
    display: flex;
    justify-content: space-between;
}

.capabilities__card {
    padding: 38px 22px 39px 23px;
    border: 1px solid #E6E6E6;
}
.capabilities__card-img {
    margin-bottom: 25px;
}

.capabilities__card-desc{
    display: grid;
    gap: 13px;
    max-width: 250px;
}
.capabilities__card-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.427px;
}
.capabilities__card-text {

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;

}
