.footer {
	background: #141A20;;
	padding: 50px 0 42PX;
	font-size: 32px;
    color: #fff;


}

.footer__content {
	display: flex;
	justify-content: space-between;
}
.footer__content-columns {
	display: flex;
}
.footer__content-column {
}

.footer__column-title {
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.846px;
	padding-bottom: 10px;
}
.first-column {
	margin-right: 70px;
	.footer__column-title{
		
		margin-bottom: 20px;
	}
}
.footer__column-logo {
	margin-bottom: 15px;
}
.footer__column-text {
	max-width: 250px;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px; /* 172.727% */
	letter-spacing: 0.85px;
}
.second-column {
	margin-right: 58px;
}
.footer__column-list {
	
	display: flex;
	gap: 34px;
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: 25px; /* 227.273% */
	letter-spacing: 0.846px;
	a{
		color: #fff;
	}

}
.footer__column-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 145.455% */
	letter-spacing: 0.846px;
}

.third-column{
	p{
		margin-bottom: 15px;
	} 
	a{
		color: inherit;
	}

}



.footer__column-text__links{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer__links{
	display: flex;
	background-color: transparent;
	gap: 25px;
	
}